<div>
  
  <div class="top-nav">
    <span class="navbar-right">
       {{ userName }} 
    </span>
  </div>

  <div class="navbar-inverse">
    
    <div class="navbar-header">
        <img src="assets/EurolifeERB_Blue.png" height="40" />
    </div>

    <div class="navbar-collapse">
      
      <ul class="nav navbar-nav">
        <li>
          <a href="https://myspot.eurolife.gr/">Κεντρική</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="https://myspot.eurolife.gr/Reports">Reports</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="https://myspot.eurolife.gr/sites/PublicDocs">Βιβλιοθήκη</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="https://myspot.eurolife.gr/pages/apps.aspx">Εφαρμογές</a>
        </li>
      </ul>
      
      <div class="navbar-right">
        <a title="My Spot - Eurolife" href="#">
          <img src="assets/logo_myspot.png" alt="My Spot - Eurolife" />
        </a>

      </div>
    </div>

  </div>

</div>