<br />

<div class="panel panel-primary">

  <div class="panel-heading">
    <h5>Φίλτρα</h5>
  </div>

  <div class="panel-body">

    <div class="row">

      <div class="form-group-sm col-sm-6">
        <label for="contractNo" class="col-sm-4">Αρ. Συμβολαίου</label>
        <div class="col-sm-6">
          <input asp-for="ContractNo" type="number" class="form-control" id="contractNo">
        </div>
      </div>

      <div class="form-group-sm col-sm-6">
        <label for="applicationNo" class="col-sm-4">Αρ. Αίτησης</label>
        <div class="col-sm-6">
          <input asp-for="ApplicationNo" type="number" class="form-control" id="applicationNo">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="form-group-sm col-sm-6">
        <label for="renewalNo" class="col-sm-4">Αρ. Ανανέωσης</label>
        <div class="col-sm-6">
          <input asp-for="RenewalNo" type="number" class="form-control" id="renewalNo">
        </div>
      </div>

      <div class="form-group-sm col-sm-6">
        <label for="taxNo" class="col-sm-4">Α.Φ.Μ.</label>
        <div class="col-sm-6">
          <input asp-for="TaxNo" type="number" class="form-control" id="taxNo">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="form-group-sm col-sm-6">
        <label for="amendmentNo" class="col-sm-4">Αρ. Πρόσθετης</label>
        <div class="col-sm-6">
          <input asp-for="AmendmentNo" type="number" class="form-control" id="amendmentNo">
        </div>
      </div>

      <div class="col-sm-2">
        <button type="submit" class="btn btn-success form-control">Ανανέωση</button>
      </div>

    </div>

  </div>

</div>

<div class="panel panel-primary">

  <div class="panel-heading">
    <h5>Παραστατικά</h5>
  </div>

  <div class="panel-body">

    <div>
      <kendo-grid [data]="vouchers" style="height: 200px">
        <kendo-grid-column field="id" width="200" title="Εκτυπώσεις" [locked]="true">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <button class="btn btn-sm btn-danger" (click)="printOriginal(dataItem)" [disabled]="dataItem.statusOriginal != 3">Πρωτότυπο</button>
            <button class="btn btn-sm btn-success" (click)="printCopy(dataItem, confirmationDialog)" [disabled]="dataItem.statusCopy != 3">Αντίγραφο</button>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="contractNo" title="Αρ.Συμβολαίου" width="120"></kendo-grid-column>
        <kendo-grid-column field="renewalNo" title="Αρ.Ανανέωσης" width="120"></kendo-grid-column>
        <kendo-grid-column field="amendmentNo" title="Αρ.Πρόσθετης" width="120"></kendo-grid-column>
        <kendo-grid-column field="issueDate" title="Ημ.Έκδοσης" type="date" width="120" [format]="'{0:dd/MM/yyyy}'"></kendo-grid-column>
        <kendo-grid-column field="startDate" title="Ημ.Έναρξης" width="120"></kendo-grid-column>
        <kendo-grid-column field="endDate" title="Ημ.Λήξης" width="120"></kendo-grid-column>
        <kendo-grid-column field="lastName" title="Επώνυμο" width="300"></kendo-grid-column>
        <kendo-grid-column field="firstName" title="Όνομα" width="150"></kendo-grid-column>
        <kendo-grid-column field="premiums" title="Μικτά Ασφάλιστρα" width="150"></kendo-grid-column>
        <kendo-grid-column field="typeOfPaymentDescr" title="Τρόπος Πληρωμής" width="200"></kendo-grid-column>
      </kendo-grid>

    </div>

  </div>

</div>

<ng-template #confirmationDialog>

  <div class="form-group-sm">
    <label class="col-sm-6">Αρ. Συμβολαίου</label>
    <div class="col-sm-4">
      <input [ngModel]=" selectedVoucher.contractNo" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group-sm">
    <label class="col-sm-6">Αρ. Ανανέωσης</label>
    <div class="col-sm-4">
      <input [ngModel]=" selectedVoucher.renewalNo" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group-sm">
    <label class="col-sm-6">Αρ. Πρόσθετης</label>
    <div class="col-sm-4">
      <input [ngModel]=" selectedVoucher.amendmentNo" class="form-control" readonly>
    </div>
  </div>

</ng-template>

<div kendoDialogContainer></div>