.disabled {
    pointer-events: none;
    cursor: default;
 }

 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted red; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 0 0;
    border-radius: 5px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}