<br />

<div class="panel panel-primary" [ngBusy]="busy">

  <div class="panel-heading">
    <h5>Φίλτρα</h5>
  </div>

  <div class="panel-body">

    <div class="row">

      <div class="form-group-sm col-sm-6">
        <label class="col-sm-4">Αρ. Συμβολαίου</label>
        <div class="col-sm-6">
          <input [(ngModel)]="contractNo" type="number" class="form-control" >
        </div>
      </div>

      <div class="form-group-sm col-sm-6">
        <label class="col-sm-4">Αρ. Αίτησης</label>
        <div class="col-sm-6">
          <input [(ngModel)]="applicationNo" type="number" class="form-control" >
        </div>
      </div>

    </div>

    <div class="row">

      <div class="form-group-sm col-sm-6">
        <label class="col-sm-4">Αρ. Ανανέωσης</label>
        <div class="col-sm-6">
          <input [(ngModel)]="renewalNo" type="number" class="form-control" >
        </div>
      </div>

      <div class="form-group-sm col-sm-6">
        <label class="col-sm-4">Α.Φ.Μ.</label>
        <div class="col-sm-6">
          <input [(ngModel)]="taxNo" type="number" class="form-control" >
        </div>
      </div>

    </div>

    <div class="row">

      <div class="form-group-sm col-sm-6">
        <label class="col-sm-4">Αρ. Πρόσθετης</label>
        <div class="col-sm-6">
          <input [(ngModel)]="amendmentNo" type="number" class="form-control" >
        </div>
      </div>

      <div class="col-sm-2">
        <button type="button" (click)="getVouchers()" class="btn btn-success form-control">Ανανέωση</button>
      </div>

    </div>

  </div>

</div>

<!--button class="btn btn-sm btn-danger" (click)="printTest()">Ειδοποιητήριο</button-->

<div class="panel panel-primary">

  <div class="panel-heading">
    <h5>Παραστατικά</h5>
  </div>

  <div class="panel-body">

    <div>
      <kendo-grid [data]="vouchers" style="height: 400px" [resizable]="true">
        <kendo-grid-column field="id" width="330" title="Εκτυπώσεις" 
                           [headerStyle]="{'text-align': 'center'}" [locked]="true">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            
            <span [matTooltip]="getOriginalDenialReason( dataItem )"
                  [matTooltipDisabled]="!isOriginalDisabled( dataItem )"
                  matTooltipPosition="right" >
              <button class="btn btn-sm btn-warning" 
                      *ngIf="dataItem.agentType === 0"
                      (click)="printOriginal(dataItem, confirmationDialog)" 
                      [disabled]="isOriginalDisabled( dataItem )">Πρωτότυπο</button>
            </span>

            <span [matTooltip]="getNotificationDenialReason( dataItem )"
                  [matTooltipDisabled]="!isNotificationDisabled( dataItem )"
                  matTooltipPosition="right" >
              <button class="btn btn-sm btn-primary"  
                      *ngIf="dataItem.agentType === 1"
                      (click)="printNotification(dataItem, confirmationDialog)"
                      [disabled]="isNotificationDisabled( dataItem )">Ειδοποιητήριο</button>
            </span>

            <span [matTooltip]="getCopyDenialReason( dataItem )"
                  [matTooltipDisabled]="!isCopyDisabled( dataItem )"
                  matTooltipPosition="right" >
              <button class="btn btn-sm btn-success" 
                    (click)="printCopy(dataItem, confirmationDialog)" 
                    [disabled]="isCopyDisabled( dataItem )">Αντίγραφο</button>
            </span>

            <span [matTooltip]="getDeclineDenialReason( dataItem )"
                  [matTooltipDisabled]="!isDeclineDisabled( dataItem )"
                  matTooltipPosition="right" >
              <button class="btn btn-sm btn-danger" 
                    *ngIf="dataItem.agentType === 0"
                    (click)="declineOriginal(dataItem, confirmationDialog)" 
                    [disabled]="isDeclineDisabled( dataItem )">Αποποίηση</button>
            </span>

            <span [matTooltip]="getOriginalDenialReason( dataItem )"
                  [matTooltipDisabled]="!isOriginalDisabled( dataItem )"
                  matTooltipPosition="right" >
              <button class="btn btn-sm btn-warning" 
                      *ngIf="dataItem.agentType === 1"
                      (click)="printOriginal(dataItem, confirmationDialog)" 
                      [disabled]="isOriginalDisabled( dataItem )">Αντίγραφο Πελάτη</button>
            </span>

          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="contractType" title="Είδος" width="120"></kendo-grid-column>
        <kendo-grid-column field="contractNo" title="Αρ.Συμβολαίου" width="120"></kendo-grid-column>
        <kendo-grid-column field="renewalNo" title="Αρ.Ανανέωσης" width="120"></kendo-grid-column>
        <kendo-grid-column field="amendmentNo" title="Αρ.Πρόσθετης" width="120"></kendo-grid-column>
        <kendo-grid-column field="klados" title="Κλάδος" width="80"></kendo-grid-column>
        <kendo-grid-column field="issueDate" title="Ημ.Έκδοσης" width="120" format="{0:dd/MM/yyyy}"></kendo-grid-column>
        <kendo-grid-column field="startDate" title="Ημ.Έναρξης" width="120" format="{0:dd/MM/yyyy}"></kendo-grid-column>
        <kendo-grid-column field="endDate" title="Ημ.Λήξης" width="120" format="{0:dd/MM/yyyy}"></kendo-grid-column>
        <kendo-grid-column field="fullName" title="Ονοματεπώνυμο" width="250"></kendo-grid-column>
        <kendo-grid-column field="premiums" title="Μικτά Ασφάλιστρα" width="150" format="{0:C2}" 
                           [style]="{'text-align': 'right'}" [headerStyle]="{'text-align': 'right'}"></kendo-grid-column>
        <kendo-grid-column field="typeOfPaymentDescr" title="Τρόπος Πληρωμής" width="200"></kendo-grid-column>
        <kendo-grid-column field="isPaidDescr" title="Εξόφληση" width="100"></kendo-grid-column>
        <kendo-grid-column field="commercial" title="Commercial" width="100"></kendo-grid-column>
        <kendo-grid-column field="packetCode" title="Packet" width="100"></kendo-grid-column>
        <kendo-grid-column field="id" width="80" title="Booklet">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a [ngClass]="{ disabled: isBookletDisabled( dataItem ) }" href="assets/Booklet.PDF"  download>
               Download
            </a>
          </ng-template>
        </kendo-grid-column>
        <!--kendo-grid-column field="originalPrintouts" title="Πρωτότυπες Εκτυπώσεις" width="100"></kendo-grid-column-->
      </kendo-grid>

    </div>

  </div>

</div>

<ng-template #confirmationDialog>

  <div class="form-group-sm">
    <label class="col-sm-6">Αρ. Συμβολαίου</label>
    <div class="col-sm-4">
      <input [ngModel]=" selectedVoucher.contractNo" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group-sm">
    <label class="col-sm-6">Αρ. Ανανέωσης</label>
    <div class="col-sm-4">
      <input [ngModel]=" selectedVoucher.renewalNo" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group-sm">
    <label class="col-sm-6">Αρ. Πρόσθετης</label>
    <div class="col-sm-4">
      <input [ngModel]=" selectedVoucher.amendmentNo" class="form-control" readonly>
    </div>
  </div>

</ng-template>

<div kendoDialogContainer></div>

<!--kendo-pdf-export #pdf paperSize="A4" margin="2cm">
  <my-invoice [data]="pdfBytes"></my-invoice>
</kendo-pdf-export-->

